<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Editora</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
     
      <style type="text/css">
      #Imagem{ 
    
    	 background: url('https://images8.alphacoders.com/379/379448.jpg') no-repeat; 
    	right:auto;
    	left:auto;
    	heigth:auto;
    	width:auto;
    	background-size: auto;
      }
    </style>

</head>
<body >
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Cadastro de Editora</strong>
		</div>
		<div class="panel-body" id="Imagem" >
			<form class="form-horizontal" th:object="${editora}" th:action="@{/editora/save}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-1">
						         <label>Registro Editora</label>
						        <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
							    <label>Nome da Editora</label>
							    <input type="text" style="text-transform: capitalize;" pattern="(\b[A-zÀ-ú'\s]{2,40})+$" class="form-control input-sm" th:field="*{nome}" required="required" placeholder="Informe o Nome da Editora..." autofocus="autofocus"  maxlength="50"/>
							    <font color="#8B0000" size="2px"><i>Digitos Válidos Ex:AaBbCc...</i></font>
							    <script type="text/javascript">
							          $(function(){
							    	     $("#nome").focusout(function(){
							    	         var quebra = $(this).val().trim().split(/\s{1,}/);
							    	        
							    	           for(var i in quebra){
							    	               quebra[i] = quebra[i].substr(0, 1).toUpperCase() + quebra[i].substring(1, quebra[i].length); 
							    	           }
							    	        
							    	            var nome = "";
							    	            for(var i in quebra)
							    	              nome = nome + ' ' + quebra[i];
							    	        
							    	             $(this).val(nome.trim());
							    	         });
							    	      });
							      </script>
							
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('anofund')}? 'has-error'">
								<label>Ano de Fundação</label> 
								<input type="text" pattern="[0-9]{4}$" class="form-control input-sm" th:field="*{anofund}"  autofocus="autofocus" placeholder="Informe o Ano de Fundação da Editora" required="required" minlength="4" maxlength="4" />
							    <font color="#8B0000" size="2px"><i>Digitos Válidos Ex:123456789</i></font>
							     <script type="text/javascript">
							       $("#anofund").mask("0000");
							     </script>
							</div>
						</div>
				  </fieldset>
				</div>
				
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary"><b>Salvar</b></button>
					<a th:href="@{/editora/}" class="btn btn-sm btn-default"><b>Cancelar</b></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>